.buttons-container {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.socialShare {
  position: absolute;
  top: 100%;
  left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  gap: 12px;
  padding: 16px;
  background: var(--search);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 300px;
}
.socialShare button {
  cursor: pointer;
  transition: transform 0.2s;
}

.socialShare button:hover {
  transform: scale(1.1);
}
